language: php
php:
- 5.6
- 7.1
install: composer install
script:
- ./vendor/bin/phing test
after_success: ./vendor/bin/phing report-to-coveralls
notifications:
  email:
   recipients:
   - nicolas.leroy@gmail.com
notifications:
  slack: cnet:UzmZZjVck1RNHTyrTSe6NTd9
